@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .caret-red-c {
      caret-color: red-c;
    }

    .input--error {
      border-color: theme('colors.red-c') !important;
    }
  }

@font-face {
    font-family: "Outfit-Light";
    src: url("assets/fonts/Outfit/Outfit-Light.ttf");
}

@font-face {
    font-family: "Outfit-Medium";
    src: url("assets/fonts/Outfit/Outfit-Medium.ttf");
}

body {
    min-height: 100vh;
    @apply bg-dark-blue-c;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}